{% extends "layout.html" %}

{% load static %}

{% block content %}
<div class="row">
    <h3>Welcome to VideoScore</h3>
</div>
<div class="row">
    <h4>Videos List:</h4>
</div>
<div class="row">
  <table class="table table-sm">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date Uploaded</th>
        <th>Views</th>
        <th>Themes</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      {% for v in videos %}
      <tr>
        <td>{{v.title}}</td>
        <td>{{v.date_uploaded}}</td>
        <td>{{v.views}}</td>
        <td>
          {% for p in v.themes.all %}
            {% if p == v.themes.all.last %}
              {{ p }}
            {% else %}
              {{ p }},
            {% endif %}
          {% endfor %}
        </td>
        <td><a class="btn btn-primary" href="{% url 'edit_video' v.id %}">Edit</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
